{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}

<!doctype html>
<html>

{% block main %}
<h2>Dissertation Advisors</h2>
<p>Browse or search for scholars who served as dissertation advisors</p>
{% if filter %}
<form action="" method="get" class="form form-control mb-3">
    <div class=row>
        {% bootstrap_field filter.form.scholarFirstName layout='inline' form_group_class="col mb-3" %}
        {% bootstrap_field filter.form.scholarLastName layout='inline' form_group_class="col mb-3" %}
    </div>
    {% bootstrap_field filter.form.dissertationTitle layout='inline' form_group_class="mb-3" %}
    {% bootstrap_button 'Filter' button_class="btn btn-outline-primary" %}
</form>
{% endif %}
{% render_table table %}
{% endblock main %}

</html>